<%- include('partials/head.ejs') %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180351930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180351930-1');
</script>
<%- include('partials/header.ejs') %>
<div class="container my-5">
    <h1 class="text-center"><%= blog.title %> </h1>
    <p class="lead text-center"><%= blog.createdAt %></p>
    <hr>
    <p style="text-align: start;"><%- blog.body %> </p>
</div>
<%- include('partials/footer.ejs') %>