<%- include('partials/head.ejs') %> <%- include('partials/header.ejs') %>

<div class="jumbotron" style="background-color: #ececec;">
  <div data-aos="zoom-in" data-aos-duration="1000" class="container">
    <div class="row">
      <div class="col-md-2 logo-container">
        <img class="aifsc-logo" src="aifsc.png" al5="" />
      </div>
      <div class="col-md-10">
        <h1 class="brand-text">
          Welcome to the All India Federation Of Superintendent Of Customs
        </h1>
        <p class="brand-info-text">
          Recognised by the Government of India vide Ministry's letter F.No.
          B.12017/15/2001 Ad IV A dt. 29th April 2004. (Disclaimer- The views
          expressed in the Blog post are purely for the consumption of members
          of AIFSC only and the data/facts contained therein should be first
          verified with authentic source, before using the same, by anyone).
        </p>
        <p class="text-center location-text">
          HEAD OFFICE: 3RD FLOOR, NEW CUSTOM HOUSE, BALLARD ESTATE, MUMBAI,
          400001.
        </p>
      </div>
    </div>

    <hr class="add-hr" />
  </div>
</div>

<div data-aos="fade-up" data-aos-duration="1200">
  <h2>Latest Blogs</h2>
  <div class="blog-container">
    <% blogs.forEach(blog => { %>
    <div class="card blog-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img class="aifsc-card-logo" src="aifsc.png" al5="" />
          </div>
          <div class="col-md-10">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
          </div>
        </div>

        <hr />
        <h6 class="card-subtitle mb-2 text-muted"><%= blog.createdAt %></h6>
        <p class="card-text"><%= blog.body %></p>
        <a href="/blog/<%= blog._id %>"><button>Read More</button></a>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer.ejs') %>

<!-- 
<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<%- include('partials/footer.ejs') %> -->
