<%- include('partials/head.ejs') %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180351930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180351930-1');
</script>
<%- include('partials/header.ejs') %>
<div class="container my-5">
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% blogs.forEach((blog,id) => { %>
            <tr>
                <th scope="row"><%= id+1 %> </th>
                <td><%= blog.title %></td>
                <td><%= blog.createdAt %> </td>
                <td><a href="/edit-blog/<%= blog._id %> ">Edit</a></td>
              </tr>
          <% }) %>

        </tbody>
      </table>
</div>
<%- include('partials/footer.ejs') %>